html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 650px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
     background: #1C2331!important;
  }
}
/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.3); }

.top-nav-collapse {
  background-color: #1C2331; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1C2331; }


/*Typewriter styling section */


span{

  font-size: 50px;
  font-weight: bold;
  color: white;
  text-align: center;

}

.card-one {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #1C2331;
  transition: 0.3s;
  width: 300px;
  height: 300px;
  float: left;
  margin: 5px;
  padding: 15px;
}

/* On mouse-over, add a deeper shadow */
.card-one:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-two {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #1C2331;
  transition: 0.3s;
  width: 300px;
  height: 300px;
  float: left;
  margin: 5px;
  padding: 15px;
}

/* On mouse-over, add a deeper shadow */
.card-two:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-three {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #1C2331;
  transition: 0.3s;
  width: 300px;
  height: 300px;
  float: left;
  margin: 5px;
  padding: 15px;
}

/* On mouse-over, add a deeper shadow */
.card-three:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.site-icon{

  font-size: 20px;
  font-weight: bold;
  font-family: verdana;
  color: white;
  text-align: center;

}

.username{

  font-size: 20px;
  font-weight: bold;
  font-family: verdana;
  color: white;
  text-align: center;

}


.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}



.card{
  margin: 5% 0%;
}

.card-body{
  margin: 0% 0% 0% 3%;
  padding: 6% 0%;
}


